
<h2>Admin Dashboard</h2>

<a href="/new-post">Create New Post</a>

<h3>Posts</h3>
<ul>
    <% posts.forEach(post => { %>
        <li>
            <h3><%= post.title %></h3>
            <div><%- post.content %></div>
            <a href="/admin/edit/<%= post._id %>">Edit</a>
            <a href="/admin/delete/<%= post._id %>">Delete</a>
        </li>
    <% }) %>
</ul>
